modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["sshpass", "gh", "openssh", "docker_26", "tengine", "docker-compose_1", "netcat-gnu", "dig"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "ssh_restart"
mode = "sequential"
author = 46301053

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash -c 'export ADDYPIN_DB_PASSWORD=\"UBih+0YllInCRul3liIlMXHiezktiq8vGXbZ9CiAljA=\" && ./tunnel_manager.sh && npm run dev'"

[agent]
